.header-desktop-navigation-desk {
  height: 70px;
  width: 100%;
  background-color: #242625;
  margin-top: none;
}
.logo {
  align-items: center;
  display: block;
  width: 12px;
  height: 15px;
}
.imagem {
  margin-bottom: 50px;
  position: relative;
  margin-top: 10px;
}
.modal {
  position: absolute;
}
