<div class="modal"> 
    <div class="modal__header"> 
        <div class="modal__area-text">
            <img src="../../../../../assets/images/bot.svg" class="modal__area-text__imagem" alt="">
          <span class="modal__area-text__mensagem" *ngFor="let input of mensagens">{{input}}</span>
        </div>
        <form (submit) ="onSubmit()">
            <input [(ngModel)]="valor" name="valor" class="modal__header__input" type="text" > 
            <button  mat-raised-button color color="primary" (click)="enviarDado()" class="modal__header__input__botao">
              enviar  
            </button>
        </form>
    </div>
</div>
