<div class="modal">
  <div class="modal__header">
    <img
      src="../../../../../assets/images/014-ice-cream-11.svg"
      class="modal__header__logo"
      alt=""
    />
    <div class="modal__area-text">
      <img
        src="../../../../../assets/images/bot.svg"
        class="modal__area-text__imagem"
        alt=""
      />
      <div
        [ngClass]="
          input.usuario && !input.error
            ? 'modal__area-text__mensagem'
            : !input.usuario && input.error
            ? 'modal__area-text__mensagem-bot-error'
            : 'modal__area-text__mensagem-bot'
        "
        *ngFor="let input of mensagens"
      >
        <span *ngIf="!input.audio">{{ input.mensagem }}</span>
        <div *ngIf="input.audio">
          <audio
            controls="true"
            class="modal__area-text__mensagem-audio"
            [src]="input.mensagem"
          ></audio>
        </div>
      </div>
    </div>
    <form (submit)="onSubmit()">
      <input
        [(ngModel)]="valor"
        name="valor"
        class="modal__header__input"
        type="text"
      />
      <button
        mat-raised-button
        color
        color="primary"
        (click)="enviarDado()"
        class="modal__header__input__botao"
      >
        <span class="modal__header__input__botao__text">enviar</span>
      </button>
      <button
        mat-fab
        color="primary"
        (click)="comecarAudio()"
        class="modal__header__input__botao-audio"
      >
        <img
          src="../../../../../assets/images/microphone.svg"
          class="modal__header__input__botao-audio-icon"
          alt=""
        />
      </button>
      <button
        mat-fab
        color="primary"
        (click)="pararAudio()"
        class="modal__header__input__botao-stop"
      >
        <img
          src="../../../../../assets/images/stop.svg"
          class="modal__header__input__botao-stop-icon"
          alt=""
        />
      </button>
      <input
        style="display: none;"
        type="file"
        (change)="onFileChanged($event)"
        #fileInput
      />
      <button
        mat-fab
        color="primary"
        (click)="fileInput.click()"
        class="modal__header__input__botao-upload"
      >
        <img
          src="../../../../../assets/images/upload.svg"
          class="modal__header__input__botao-stop-icon"
          alt=""
        />
      </button>
    </form>
  </div>
</div>
