nltk==3.5
tflearn==0.3.2
tensorflow==2.6.4
SpeechRecognition==3.8.1
gTTS==2.1.1
googletrans==2.4.0
Flask==1.1.2
flask-cors==3.0.8
pytesseract==0.3.4
numpy==1.19.0
Pillow==7.1.2
beautifulsoup4==4.9.1
selenium==3.141.0